absl-py==0.15.0
biocframe==0.3.17
biocgenerics==0.1.1
biocpy==0.2.2
biocutils==0.0.7
cloudpickle==2.2.1
cython==3.0.12
flatbuffers==1.12
future==1.0.0
gast==0.3.3
genomicranges==0.3.8
greenlet==3.1.1
grpcio==1.32.0
hyperopt==0.2.7
keras==2.4.3
keras-preprocessing==1.1.2
kopt==0.1.0
markdown-it-py==2.2.0
mdurl==0.1.2
mopsy==0.2.7
mudata==0.2.1
multiassayexperiment==0.3.1
py4j==0.10.9.9
pybiocfilecache==0.4.1
pygments==2.17.2
rich==13.8.1
setuptools-scm==7.1.0
singlecellexperiment==0.3.3
six==1.15.0
sqlalchemy==2.0.45
summarizedexperiment==0.3.7
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tomli==2.0.1
typing-extensions
wrapt==1.12.1
xlrd==1.2.0